<nav class="navbar bg-dark">
  <h2>Online Shop</h2>

  <ul>
    <li [ngClass]="{'active': this.type === 'Phone'}">
      <a (click)="setType('Phone')">Phone</a>
    </li>
    <li [ngClass]="{'active': this.type === 'Tablet'}">
      <a (click)="setType('Tablet')">Tablet</a>
    </li>
    <li [ngClass]="{'active': this.type === 'Laptop'}" >
      <a (click)="setType('Laptop')">Laptop</a>
    </li>
    <li routerLinkActive="active" id="f">
      <a (click)="setType('Cart')" [routerLink]="['/cart']">Cart</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
